<div class="d-flex" id="wrapper">
  
  <!-- Sidebar -->
  <div class="bg-light border-right shadow text-center" id="sidebar-wrapper">
    <div>
        <img class="d-inline-block" src="../../../assets/logo.png" alt="" style="height: 55px">
        <div class="d-inline-block sidebar-heading title">beacon.</div>
    </div>
    <div class="list-group list-group-flush p-4 ">
      <a routerLink="class" routerLinkActive="active" class="shadow sidebaritems list-group-item list-group-item-action ">Classes</a>
      <a routerLink="chat" routerLinkActive="active"class="shadow sidebaritems list-group-item list-group-item-action ">Chat</a>
      <a routerLink="quiz" routerLinkActive="active" class="shadow sidebaritems list-group-item list-group-item-action ">Quizzes</a>
      <a routerLink="assignment" routerLinkActive="active" class="shadow sidebaritems list-group-item list-group-item-action ">Assignments</a>
      <div><app-footer></app-footer></div>
      
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-outline-secondary" id="menu-toggle"><i class="fa fa-caret-left"></i></button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="ml-3">
        <h4>Teacher Dashboard</h4>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="btn-group ml-2" dropdown>
                <button id="button-basic" dropdownToggle type="button" class=" btn btn-outline-info dropdown-toggle" style="border-radius: 24px;width:190px"
                        aria-controls="dropdown-basic">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person mr-2 mb-1" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>{{username}}<span class="ml-2 caret"></span>
                </button>
                
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right shadow mt-1"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" routerLink="profile">View Profile</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item text-danger" (click)="onClick()">Logout</a>
                  </li>
                </ul>
              </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->

</div>



