<div class="container" >
    <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-8">
                
                    <img [@swing]="swing" class="logo" src="assets/logo.png" alt="Beacon Logo">
                    <div class="title d-inline-block" ><h1 style="font: size 40px;">beacon.</h1></div>  
                
                 
            </div>
            <div class="offset-sm-4">

            </div>

            <div class="col-md-2 col-6 mt-5">
                <a class="btn shadow btn-outline-success" routerLink="login" routerLinkActive="active" >LOG IN</a> 
            </div>

            <div class="col-md-2 col-6 mt-5" >
                <a class="btn shadow btn-outline-info" routerLink="signup" routerLinkActive="active">SIGN UP</a>  
            </div>

     </div>
            
</div>

