<div class="container-fluid">
    <div class="row justify-content-center">
        
            <form class="mt-4 text-center " (ngSubmit)="onSubmit(myForm)" #myForm="ngForm"  >
                <div class="form-group justify-content-center">
                    <input type="text" class="code form-control w-auto d-inline-block" required name="id" id="code"  placeholder="Enter Valid Code" ngModel>
                    <!-- <ng-container ><small class="error">{{errorObj.name}}</small></ng-container> -->
                    <button type="submit" class="form-control w-auto ml-2 btn btn-success d-inline-block" >Join Class</button>
                </div>
              </form>
              <ng-container ><small class="error"></small></ng-container>
              
    </div>
    <hr class="w-75">
    <div class="row text-center">
        <div class="col">
            <h3>All Classes</h3>
        </div>
    </div>
    
    <ng-container *ngIf="mydata != ''; else elseTemplate">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 card shadow mr-3 ml-5 mt-3 mb-3"  style="width: 18rem;" *ngFor="let item of mydata">
                  <div class="card-body p-5 text-center">
                    <h2 class="card-text list-group-item">{{item.name}}</h2>
                    <ng-container *ngIf="item.students!=''; else elseTemplate">
                      <div class="card-text mb-4" *ngFor = "let std of item.students,let itemcount = count" ><b>Students</b><div><b class="mr-3" style="color:green">{{itemcount}}</b><i class="btn badge badge-secondary badge-pill">View</i></div></div>
                    </ng-container>
                    <ng-template #elseTemplate>
                      <div class="card-text mb-5"><p style="color:rgb(211, 119, 119)">No! Students Available</p> </div>
                    </ng-template>
              
                    <hr>
                    <a href="#" class="btn btn-outline-success form-control rounded-pill">Join Meeting</a>
                  </div>
                </div>
              
            </div>
          </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="row text-center">
            <div class="col">
                <p>No Class Available</p>
            </div>
        </div>
    </ng-template>
    

</div>
