<div class="container-fluid">
    <div class="row justify-content-center">
        
            <form class="mt-4 text-center " (ngSubmit)="onSubmit(myForm)" #myForm="ngForm"  >
                <div class="form-group justify-content-center">
                    <input type="text" class="code form-control w-auto d-inline-block" required name="id" id="code"  placeholder="Enter Valid Code" ngModel>
                    <!-- <ng-container ><small class="error">{{errorObj.name}}</small></ng-container> -->
                    <button type="submit" class="form-control w-auto ml-2 btn btn-success d-inline-block" >Join Class</button>
                </div>
              </form>
              <ng-container ><small class="error"></small></ng-container>
              
    </div>
    <hr class="w-75">
    <div class="row text-center">
        <div class="col">
            <h3>All Classes</h3>
        </div>
    </div>
    
    <ng-container *ngIf="mydata != ''; else elseTemplate">
    
      <div class="mt-4 row justify-content-center">
        
        <input class="code form-control w-auto d-inline-block"  type="text" [(ngModel)]="meetingNumber" placeholder="Enter Meeting Number">
      <input  class="code form-control w-auto d-inline-block ml-2" type="text" [(ngModel)]="passWord"  placeholder="Enter Password">
  
      <button class="form-control w-auto ml-2 btn btn-success d-inline-block"  (click)="getSignature()">Join Meeting</button>
          
      </div>
      
      <hr>
      <div class="container">
        <div class="row">
            <div class="col-sm-5 card shadow mr-3 ml-5 mt-3 mb-3"  style="width: 18rem;" *ngFor="let item of mydata">
              <div class="card-body p-5 text-center">
                <h2 class="card-text list-group-item">{{item.name}}</h2>  
                <ng-container *ngIf="item.students!=''; else elseTemplate">
                  <div class="card-text mb-3"><b>Students</b><div><b class="mr-3 " style="color:green">{{item.students.length}}</b></div></div>
                </ng-container>
                
                <ng-template #elseTemplate>
                  <div class="card-text mb-5"><p style="color:rgb(211, 119, 119)">No! Students Available</p> </div>
                </ng-template>
          
              </div>
              
            </div>
          
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="row text-center">
            <div class="col">
                <p>No Class Available</p>
            </div>
        </div>
    </ng-template>
    

</div>

<hr>



