
    <div class="card text-center mt-3 shadow">
        <div class="card-header">
          User Profile
        </div>
        <div class="card-body mt-2">
          <h5 class="card-title">Name</h5>
          <p class="card-text">{{user.name}}</p>
          <hr class="w-50">
          <h5 class="card-title">Email</h5>
          <p class="card-text">{{user.email}}</p>
          <hr class="w-50">
          

          <a href="#" class="btn btn-info w-25 mt-2" style="border-radius: 24px;">Edit</a>
        </div>
        <div class="card-footer text-muted">
          <a href="#" class="" style="float:right"><i class='fas fa-key'></i>&nbsp;<u>Change Password</u></a>
        </div>
      </div>
